    /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* left-bar */

.flex-container {
    display: flex;
    background-color: #141922;
    height: calc(100vh - 10vh);
}

.left-bar{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: black;
    color: lightgrey;
    width: 15rem;
    height: 90vh;
}

.left-bar-top {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: black;
    color: lightgrey;
}

.container-logo {
    display: flex;
}

.image-container {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: lightgrey
}

.img-logo {
    width: 100%;
    padding: 1.1rem;
}

.img-size {
    width: 15%;
}

.text-playlist {

    padding: 0.5rem 1rem;
}

.icon-size {
    font-size: 1rem;
    color: black;
    background: lightgrey;
    padding: .5rem .5rem;
}

.fix-bug-flex {
    flex: 1 1 100%;
    padding: 0.5rem 1rem;
}

.left-bar-bottom {
    display: flex;
    flex-wrap: wrap;
}

.left-bar-bottom .icon-size {
    font-size: 6px;
    background-color: black;
    color: lightgray;
    border: 1px solid lightgrey;
    border-radius: 50%;
}

.line-size {
    border-color: lightgrey;
    width: 100%;
    flex: 1 1 100%;
    margin: 0.5rem 1rem;
}

.img-user {
    background-color: #808080;
    width: 24px;
    margin-right: 1rem;
    border-radius: 50%;
    object-fit: cover;
}

    /* .main-container album  */

.main-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    overflow-y: auto;
    padding-top: 7.5rem;
    z-index: 20;
    color: lightgrey;
}

.upgrade-bar {
    background-color: rgba(8, 11, 18, .5);
    width: calc(100% - 15rem);
    height: 10vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1.5rem;
}

.upgrade-bar .btn {
    color: white;
    text-decoration: none;
    background-color: rgba(8, 11, 18, .5);
    border: 1px solid white;
    border-radius: 2rem;
    padding: 1rem 1rem;
}

.upgrade-bar .btn:hover {
    font-size: 1rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.main-nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: lightgrey;
    list-style: none;
}

.main-nav-bar li {
    margin-right: 1rem;
}

    /* album */

.album-container-basis {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main-container-album {
    display: flex;
    flex: 0 1 15%;
}

.main-container-album .image-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 15%;
}

.main-container-album .image-container .song-name {
    font-size: 1.3rem;
    margin-bottom: .5rem;
    width: 200px;
    text-align: center;
}

.img-overlay {
    display: none;
    font-size: 5rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.img-main-size {
    width: 100%;
}

.main-container-album .overlay-container:hover .img-main-size {
    opacity: .5;
}

.main-container-album .overlay-container:hover .img-overlay {
    opacity: 1;
    color: white;
    display: inline;
}

.flex-img {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

    /* bar-bottom pulsantiera */

.bar-battom {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background-color: #282828;
    z-index: 10;
    justify-content: space-between;
    padding: 0 1rem;
    color: lightgrey;
}

.bar-battom .image-container {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
}

.img-bottom {
    min-width: 0;
}

.bar-battom .song-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    color: white;
}

.bottom-basis {
    display: flex;
}

.bottom-basis .image-container {
    display: flex;
    align-items: stretch;
    
}

.add-song .icon-size {
   margin-left: 1.5rem;
   margin-right: .5rem;
    background-color: #282828;
    color: lightgray;
}

.bar-battom .add-song {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.main-command-bar {
    display: flex;
    flex-direction: column;
}

.command-bar {
    display: flex;
    justify-content: center;
}

.main-time-line {
    display: flex;
    align-items: center;
}

.command-bar .icon-size {
    background-color: #282828;
    margin-right: .5rem;
    margin-top: .5rem;
    font-size: 1.2rem;
    color: lightgrey;
}

.main-command-bar .time-line {
    width: 20rem;
    color: lightgrey;
    background-color: lightgrey;
    height: .4rem;
    border-radius: 2rem;
    margin: 0 .5rem;
}

.time-line .time {
    position: relative;
    margin: 0px -2rem;
}

.time-line .time-two {
    position: relative;
    margin: 0px 23rem;
}

    /* right bar bottom */

.bar-battom .right-command-bar {
    display: flex;
    align-items: center;
}

.right-command-bar .icon-size {
    background-color: #282828;
    margin-right: .5rem;
    font-size: 1.2rem;
    color: lightgrey;
}

.right-command-bar .audio-line {
    width: 10rem;
    color: lightgrey;
    background-color: lightgrey;
    height: .4rem;
    border-radius: 2rem;
}